/* Tu CSS existente aquí */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .title {
    text-align: center;
    margin-top: 50px;
    color: #333;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  #result-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  #click-area-container {
    text-align: center;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
  }
  