
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#button-10, #button-15{
    font-size: 24px;
    padding: 8px 36px;
    border: none;
    background-color: #631593;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

#button-reset{
    font-size: 24px;
    padding: 8px 26px;
    border: none;
    background-color: #bf0221;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

.buttons{
    margin-top: 24px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;

}

span {
    filter: brightness(90%);
    color: #bf0221;
}


#button-10:hover{
    filter: brightness(90%);
    background-color: rgb(121, 121, 121);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#button-15:hover{
    filter: brightness(90%);
    background-color: rgb(121, 121, 121);
}

#button-reset:hover{
    filter: brightness(90%);
    background-color: rgb(121, 121, 121);
}

.clicks-num{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 8px 16px;
}

.seccion-oculta-10{
    display: none;
}



/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  #counter-container {
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  #counter {
    font-size: 3em;
    color: #333;
  }
  
  #click-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
   */